<h1>Find Distance</h1>

<form action="distance/index" method="get">
	<fieldset>
		<legend>Point 1</legend>
		<label for="lat1">Lat: </label>
		<input type="text" id="lat1" name="lat1" value="" />
		<label for="lng1">Lng: </label>
		<input type="text" id="lng1" name="lng1" value="" />
	</fieldset>
	<fieldset>
		<legend>Point 2</legend>
		<label for="lat2">Lat: </label>
		<input type="text" id="lat2" name="lat2" value="" />
		<label for="lng2">Lng: </label>
		<input type="text" id="lng2" name="lng2" value="" />
	</fieldset>

	<input type="submit" value="Find Distance" />
</form>
