body {
	margin: 0;
	font-family: tahoma, helvetica, arial, sans-serif;
	font-size: 14px;
}

#main {
	width: 540px;
	margin: 0 auto;
}

#flash_notice {
	padding: 20px 30px;
	background-color: #f77;
	border: 1px solid #700;
}

fieldset {
	margin: 20px 0;
	padding: 20px;
}

legend {
	font-weight: bold;
}

input[type=text] {
	font-size: 2em;
	padding: 2px 5px;
}

input[type=submit] {
	font-size: 1.5em;
	background-color: #444;
	border: 0;
	color: #eee;
	padding: 10px 20px;
}

	input[type=submit]:hover {
		background-color: #777;
		color: #000;
	}

#result {
	padding: 20px 30px;
	background-color: #7f7;
	border: 1px solid #070;
}